<div class="form-add-update">
  <%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

    <ul>
      <% @tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('name') %></label><br>
        <%= f.text_field :name, {:class=>'form-control input'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="actions">
       <%= f.submit t('add'), :class => "btn btn-success btn-add" %>
       <%= link_to t('back'), tags_path, :class => "btn btn-default btn-back" %>
     </div>
   </div>
 </div>
 <% end %>
</div>