<h1>Listing tags</h1>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <% if current_member.role == 'admin' %>
            <th>User</th>
          <% end %>
          <th>Edit</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
          <% @tags.each do |tag| %>
            <tr>
              <td><%= i = i + 1 %></td>
              <td><%= tag.name %></td>
              <% if current_member.role == 'admin' %>
                <td><%= Member.find(tag.member_id).username %></td>
              <% end %>
              <td><a href='<%= edit_tag_path(tag) %>'><i class="fa fa-pencil fa-2x"></i></a></td>
              <td><a href='/tags/<%= tag.id %>'><i class="fa fa-search fa-2x"></i></a></td>
              <td><%= link_to tag, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times fa-2x"></i><% end %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
<br>

<p><a href='/tags/new' class="btn btn-primary btn-lg" role="button">New Tag &raquo;</a></p>
<br />
All tags:
<%= @tags.count %>