<% if member_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>
<% if current_member.role == 'admin'%>
	<p>
  		<strong>Member:</strong>
  		<%= Member.find(@tag.member_id).username %>
	</p>
<% end %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<% else %>
  Access denied
<% end %>