<% if member_signed_in? %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Language member:</strong>
  <%= @tag.language_member_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @tag.member_id %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
<% else %>
  Access denied
<% end %>