<% if member_signed_in? %>
<h1>Listing languages</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <% if current_member.role == 'admin' %>
          <th>User</th>
        <% end %>
        <th>Edit</th>
        <th>Show</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @languages.each do |language| %>
        <tr>
          <td><%= i = i + 1 %></td>
          <td><%= language.name %></td>
          <% if current_member.role == 'admin' %>
            <td><%= Member.find(language.member_id).username %></td>
          <% end %>
          <td><a href='<%= edit_language_path(language) %>'><button type="button" class="btn btn-xs btn-success">Edit &raquo;</button></a></td>
          <td><a href='/languages/<%= language.id %>'><button type="button" class="btn btn-xs btn-success">Show &raquo;</button></a></td>
          <td><%= link_to language, method: :delete, data: { confirm: 'Are you sure?' } do %><button type="button" class="btn btn-xs btn-success">Destroy &raquo;</button><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<p><a href='/languages/new' class="btn btn-primary btn-lg" role="button">New Language &raquo;</a></p>
<br />
All languages:
<%= @languages.count %>
<% else %>
  Access denied
<% end %>