<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<% if current_member.role == 'admin'%>
	<p>
  		<strong>Member:</strong>
  		<%= Member.find(@language.member_id).username %>
	</p>
<% end %>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>