<div class="show">
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			<%= t('name') %>
		</div>
		<div class="col-md-3 userdata">
			<%= @language.name %>
		</div>
	</div>

	<% if current_member.role == 'admin'%>
	
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			Member:
		</div>
		<div class="col-md-3 userdata">
			<%= Member.find(@language.member_id).username %>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to t('edit'), edit_language_path(@language), :class => "btn btn-primary btn-edit" %> 
			<%= link_to t('back'), languages_path, :class => "btn btn-default btn-back" %>
		</div>
	</div>
</div>