<div class="form-add-update">
  <%= form_for(@word) do |f| %>
  <% if @word.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@word.errors.count, "error") %> prohibited this word from being saved:</h2>

    <ul>
      <% @word.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('name') %></label><br>
        <%= f.text_field :namelanguage1, {:class=>'form-control'}  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('translation') %></label><br>
        <%= f.text_field :namelanguage2, {:class=>'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('language') %></label><br>
        <%= f.collection_select :language1_id, @all_languages, :id, :name, {}, {:class=>'form-control input'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('language') %></label><br>
        <%= f.collection_select :language2_id, @all_languages, :id, :name, {}, {:class=>'form-control input'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="field">
        <label><%= t('tags') %></label><br />
        <%= f.collection_select :tag_ids, @all_tags, :id, :name,  {}, { :multiple => true, :class=>'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="actions">
        <%= f.submit t('add'), :class => "btn btn-success btn-add" %>
        <%= link_to t('back'), words_path, :class => "btn btn-default btn-back" %>
      </div>
    </div>
  </div>
  <% end %>
</div>