<% if member_signed_in? %>
<h1>Listing words</h1>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Language</th>
          <th>Language</th>
          <% if current_member.role == 'admin' %>
            <th>User</th>
          <% end %>
          <th>Edit</th>
          <th>Show</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @words.each do |word| %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= word.namelanguage1 %></td>
            <td><%= word.namelanguage2 %></td>
            <% if current_member.role == 'admin' %>
              <td><%= Member.find(word.member_id).username %></td>
            <% end %>
              <td><a href='<%= edit_word_path(word) %>'><button type="button" class="btn btn-xs btn-success">Edit &raquo;</button></a></td>
              <td><a href='/words/<%= word.id %>'><button type="button" class="btn btn-xs btn-success">Show &raquo;</button></a></td>
              <td><%= link_to word, method: :delete, data: { confirm: 'Are you sure?' } do %><button type="button" class="btn btn-xs btn-success">Destroy &raquo;</button><% end %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>

<br>
<p><a href='/words/new' class="btn btn-primary btn-lg" role="button">New Word &raquo;</a></p>
<a href='/download' class="btn btn-primary btn-lg" role="button">Download &raquo;</a></p>
<br />
All words:
<%= @words.count %>
<% else %>
  Access denied
<% end %>
