<div class="show">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 mainword">
			<%= @word.namelanguage1 %>

		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			<%= t('translation')%>
		</div>
		<div class="col-md-3 userdata">
			<%= @word.namelanguage2 %>
		</div>
	</div>

	<% if current_member.role == 'admin'%>
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			Member:
		</div>
		<div class="col-md-3 userdata">
			<%= Member.find(@word.member_id).username %>

		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			<%= t('language')%>
		</div>
		<div class="col-md-3 userdata">
			<%= Language.find(@word.language1_id).name %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			<%= t('language')%>
		</div>
		<div class="col-md-3 userdata">
			<%= Language.find(@word.language2_id).name %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-4 titledata">
			<%= t('tags') %>
		</div>
		<div class="col-md-3 userdata">
			<% @word.tags.each do |tag| %>
			<%= tag.name %>
			<% end %>
		</div>
	</div>

	
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= link_to t('edit'), edit_word_path(@word), :class => "btn btn-primary btn-edit" %> 
			<%= link_to t('back'), words_path, :class => "btn btn-default btn-back"%>
		</div>
	</div>
</div>