<% if member_signed_in? %>

	<h3>you have succesfully signed in</h3>
	<%= link_to "Sign Out", destroy_member_session_path, :method => :delete %>
	<%= link_to "edit account", edit_member_registration_path%>
	<%= link_to 'tests', tests_path %>
	<% if current_member.role == 'admin'%>
		<%= link_to 'dashboard', dashboard_path %>
	<% end %>
<% else %>

<h1> welcom to rails community</h1>
<%= link_to "Sign In", new_member_session_path, :method => :get %>
<%= link_to "Sign up", new_member_registration_path, :method => :get %>

<% end %>